<a href="https://colab.research.google.com/github/TanviM0108/EV-adoption-India-dashboard/blob/main/EV_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [150]:
#Load the data & understand the dataset
import pandas as pd

ev_df = pd.read_csv('/content/EV_Dataset.csv')
ev_df.info()
# ev_df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96845 entries, 0 to 96844
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               96845 non-null  float64
 1   Month_Name         96845 non-null  object
 2   Date               96845 non-null  object
 3   State              96845 non-null  object
 4   Vehicle_Class      96845 non-null  object
 5   Vehicle_Category   96845 non-null  object
 6   Vehicle_Type       96845 non-null  object
 7   EV_Sales_Quantity  96845 non-null  float64
dtypes: float64(2), object(6)
memory usage: 5.9+ MB

In [151]:
# Standardize the columns

ev_df.columns = ev_df.columns.str.lower().str.strip().str.replace(" ", "_").str.replace(r'[^\w]', '', regex=True)
print(ev_df.columns)

Index(['year', 'month_name', 'date', 'state', 'vehicle_class',
       'vehicle_category', 'vehicle_type', 'ev_sales_quantity'],
      dtype='object')

**Load Other dataset and standardize columns**

In [152]:
maker_df = pd.read_csv('/content/EV Maker by Place.csv')
maker_df.info()
maker_df.columns = maker_df.columns.str.lower().str.strip().str.replace(" ", "_").str.replace(r'[^\w]', '', regex=True)
print(maker_df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   EV Maker  62 non-null     object
 1   Place     62 non-null     object
 2   State     62 non-null     object
dtypes: object(3)
memory usage: 1.6+ KB
Index(['ev_maker', 'place', 'state'], dtype='object')

In [153]:
charger_df= pd.read_csv('/content/RS_Session_259_AU_2028_B.i.csv')
charger_df.info()
charger_df.columns = charger_df.columns.str.lower().str.strip().str.replace(" ", "_").str.replace(r'[^\w]', '', regex=True)
print(charger_df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State/UT                       26 non-null     object
 1   No. of EV Chargers Sanctioned  26 non-null     int64
dtypes: int64(1), object(1)
memory usage: 548.0+ bytes
Index(['stateut', 'no_of_ev_chargers_sanctioned'], dtype='object')

In [154]:
#Rename multiple column name in dataset charger_df

charger_df.rename(columns={'stateut': 'state',
                   'no_of_ev_chargers_sanctioned': 'chargers_sanctioned'}, inplace=True)
print(charger_df.columns)

Index(['state', 'chargers_sanctioned'], dtype='object')

In [155]:
# check missing values

print(ev_df.isnull().sum())
print(maker_df.isnull().sum())
print(charger_df.isnull().sum())

year                 0
month_name           0
date                 0
state                0
vehicle_class        0
vehicle_category     0
vehicle_type         0
ev_sales_quantity    0
dtype: int64
ev_maker    0
place       0
state       0
dtype: int64
state                  0
chargers_sanctioned    0
dtype: int64

In [156]:
# change data type of year column from float to int
ev_df['date'] = pd.to_datetime(ev_df['date'], format='%d/%m/%Y')
ev_df['year'] = ev_df['year'].astype('Int64')
ev_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96845 entries, 0 to 96844
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               96845 non-null  Int64
 1   month_name         96845 non-null  object
 2   date               96845 non-null  datetime64[ns]
 3   state              96845 non-null  object
 4   vehicle_class      96845 non-null  object
 5   vehicle_category   96845 non-null  object
 6   vehicle_type       96845 non-null  object
 7   ev_sales_quantity  96845 non-null  float64
dtypes: Int64(1), datetime64[ns](1), float64(1), object(5)
memory usage: 6.0+ MB

In [157]:
# Check duplicate values
ev_df.duplicated().sum()
maker_df.duplicated().sum()
charger_df.duplicated().sum()

np.int64(0)

In [ ]:
# Save the cleaned data in a csv file

ev_df.to_csv('/content/ev_data.csv', index=False)
maker_df.to_csv('/content/maker_data.csv', index=False)
charger_df.to_csv('/content/charger_data.csv', index=False)